<div class="center">
	<h1>Welcome to the Issue Tracker Web Application</h1>
	
	<h2>
		Issue Tracker helps to track issues related to Etops and Fundbase services
	</h2>

	<%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
	<%= link_to "Sign in", signin_path %>
</div>