<footer class="footer">
	<small>
		<%= link_to "Issue Tracker", root_path %>
		by Jozef Figur
	</small>
	<nav>
		<ul>
			<li><a href="http://www.etops.ch">Etops</a></li>
			<li><a href="http://www.fundbase.com">Fundbase</a></li>
		</ul>
	</nav>
</footer>